<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">

    <title>Digital Solution Map</title>

    <th:block th:include="fragments/headerinc :: head"></th:block>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="/resources/demos/style.css"/>
    <style>
        #main { margin-left: 0%; height: 700px;}
    </style>
</head>
<body>

<div class="container">
    <th:block th:include="fragments/header :: header"></th:block>
    <div id="main">
        <div class="row text-center">
            <img src="../../static/images/intro.png" width="1000"
                 th:src="@{/images/intro.png}"/>
        </div>

    </div>
</div>


</body>
</html>