<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Digital Solution Map</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <style>
        .row {margin-left: 17%;}
        #text_file_delete, #text_image_delete {color: blue;}
        .checkbox_image, #text_image_delete {display:inline-block;}
        .checkbox_file, #text_file_delete {display:inline-block;}
        #descDiv {height:110px;}
        textarea {resize: none;}
        textarea.form-control {height:100%;}
    </style>
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2 th:text="${type}=='insert' ? 'Add Solution' : 'Edit Solution'">Add Solution</h2>
    <div>
        <form class="form-horizontal" th:object="${solution}" th:action="@{/solution}" method="post" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{time}"/>
            <input type="hidden" th:field="*{imageId}"/>
            <input type="hidden" th:field="*{fileId}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">솔루션 명:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{solutionName}" th:required="true" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Solution Group (Functional View):</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{solutionGroup1}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Solution Group (Asset Value View):</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{solutionGroup2}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Equipment</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{equipment}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Component</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{component}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Customer Benefit #1 </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{customerBenefit1}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Customer Benefit #2 </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{customerBenefit2}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">주요 기능:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{function}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">솔루션 설명:</label>
                <div id="descDiv" class="col-sm-10">
                    <textarea class="form-control" th:field="*{description}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">제작사:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{maker}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">공급사:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{supplier}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Solution Type <br/>(SW, SW+HW):</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{solutionType}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Development Type <br/>(상용, 자체개발):</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{developmentType}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">적용 사례</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{reference}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">출처</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{source}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Attach Image(s):</label>
                <div class="col-sm-10">
                <p>
                    <input id="imageInput" type="file" name="uploadingImageFiles" multiple="multiple" />
                </p>
                    <div th:if="${not #lists.isEmpty(images)}">

                        <div th:each="fileId, iterator : ${images}">
                            <img th:src="@{'/files/' + ${fileId}}" width="400" height="auto"/>
                            <input class="checkbox_image" type="checkbox" name="imageCheck" th:value="${fileId}" />
                            <p id="text_image_delete" th:text="${type}=='insert' ? '' : 'check to delete'"> </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Attach File(s):</label>
                <!--                <input id="upload-image-input" type="file" name="uploadImage" th:value="${imageName}" accept="*" />-->
                <div class="col-sm-10">
                    <p>
                        <input id="fileInput" type="file" name="uploadingFiles" multiple="multiple" />
                    </p>
                    <div th:if="${not #lists.isEmpty(files)}">

                        <div th:each="file, iterator : ${files}">
                            <a th:href="@{'/files/' + ${file.fileId}}" th:text="${file.fileName}"></a>
                            <input class="checkbox_file" type="checkbox" name="fileCheck" th:value="${file.fileId}" />
                            <p id="text_file_delete" th:text="${type}=='insert' ? '' : 'check to delete'"> </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>