<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Digital Solution Map</title>

    <th:block th:include="fragments/headerinc :: head"></th:block>
    <style>
        .pagination-centered {
            text-align: center;
        }
        #search_input {width:200px; }
        #search_cond {margin-left:640px; width:120px; }
        #total_count, #search_cond, #search_input, .btn-default {display:inline-block;}
        #total_count {margin-left:30px;}
        td {
            white-space: pre-wrap; /* CSS3*/
            white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
            white-space: -pre-wrap; /* Opera 4-6 */
            white-space: -o-pre-wrap; /* Opera 7 */
            word-wrap: break-all; /* Internet Explorer 5.5+ */
        }
    </style>

    <script type="text/javascript">
        function search(pageSize, page, flag) {
            $('#pageSize').val(pageSize);
            $('#page').val(page);

            if(flag == -2) {
                if ($('#left_double_arrow').closest("li").attr("class") == 'disabled') {
                    return false;
                }
            } else if(flag == -1) {
                if ($('#left_arrow').closest("li").attr("class") == 'disabled') {
                    return false;
                }
            } else if(flag == 1) {
                if ($('#right_arrow').closest("li").attr("class") == 'disabled') {
                    return false;
                }
            } else if(flag == 2) {
                if ($('#right_double_arrow').closest("li").attr("class") == 'disabled') {
                    return false;
                }
            }
            document.getElementById("listform").submit();
       }
    </script>
    <script>
        $(document).ready(function()
            {
                $("#myTable").tablesorter({headers: { 0:{sorter: false}}});
            }
        );
    </script>
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div >
        <!--<h2 th:text=" ${viewType} != null ? 'Solution List (' + ${viewType} + ')' : 'Solution List'"> Solution List</h2>-->
        <h2> Solution List </h2>
        <form id="listform" method="post" th:object="${solution}" th:action = "@{/solutions}">
            <input type="hidden" id="pageSize" name="pageSize" th:value="${pageSize}"/>
            <input type="hidden" id="page" name="page" th:value="${page}"/>
            <input type="hidden" id="viewType" name="viewType" th:value="${viewType}"/>
            <input type="hidden" id="solutionGroup" th:field="*{solutionGroup1}" />
            <input type="hidden" id="solutionGroup2" th:field="*{solutionGroup2}" />
            <div class="row" id="search">
                <p id="total_count" th:text="'총 건수: ' + ${count} + ' 건'"> </p>
                <!--<label class="control-label">Search:</label>-->
                <select id="search_cond" class="form-control" name="searchCondition">
                    <option value="0" th:selected="${searchCondition == '0'}">솔루션명</option>
                    <option value="1" th:selected="${searchCondition == '1'}">제작사</option>
                </select>
                <input type="text" id="search_input" name="searchInput" class="form-control" th:value="${searchInput}"/>
                <button type="submit" class="btn btn-default">검색</button>
            </div>
        </form>
        <table id="myTable" class="table table-striped tablesorter">
            <thead>
            <tr>
                <th>번호</th>
                <th>솔루션명</th>
                <th>관련기기</th>
                <th>주요기능</th>
                <th>고객기대효과</th>
                <th>유형</th>
                <th>제작사</th>

            </tr>
            </thead>
            <tbody>
            <tr th:if="${not #lists.isEmpty(solutions)}" th:each="solution, iterator : ${solutions}">
                <td width="10" th:text="${iterator.index + 1}"></td>
                <td width="80"><a th:href="${ '/solution/' + solution.id}"><span th:text="${solution.solutionName}"></span></a></td>
                <td width="40" th:text="${solution.equipment}"></td>
                <td width="260" th:text="${solution.function}"></td>
                <td width="60" th:text="${solution.customerBenefit2}"></td>
                <td width="40" th:text="${solution.developmentType}"></td>
                <td width="40" th:text="${solution.maker}"></td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="row">
        <!--<div class="form-group col-md-1">
            <select class="form-control pagination" id="pageSizeSelect">
                <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}" th:selected="${pageSize} == ${selectedPageSize}"></option>
            </select>
        </div>-->
        <div th:if="${solutions.totalPages > 0 }" class="form-group col-md-11 pagination-centered">
            <ul class="pagination">
                <li th:class="${solutions.number == 0} ? disabled" >
                    <a id="left_double_arrow" class="pageLink" th:href="'javascript:search(' + ${selectedPageSize} + ', 1, -2)'">&laquo;</a>
                </li>
                <li th:class="${solutions.number == 0} ? disabled">
                    <a id="left_arrow" class="pageLink" th:href="'javascript:search(' + ${selectedPageSize} + ',' + ${solutions.number} + ', -1)'">&larr;</a>
                </li>
                <li th:class="${solutions.number == (page - 1)} ? 'active pointer-disabled'"
                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                    <a id="paging" class="pageLink" th:href="'javascript:search(' + ${selectedPageSize} + ',' + ${page} + ', 0)'" th:text="${page}"></a>
                </li>
                <li th:class="${solutions.number + 1 == solutions.totalPages} ? disabled">
                    <a id="right_arrow" class="pageLink" th:href="'javascript:search(' + ${selectedPageSize} + ',' + ${solutions.number + 2} + ', 1)'">&rarr;</a>
                </li>
                <li th:class="${solutions.number + 1 == solutions.totalPages} ? disabled">
                    <a id="right_double_arrow" class="pageLink" th:href="'javascript:search(' + ${selectedPageSize} + ',' + ${solutions.totalPages} + ', 2)'">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>