<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Digital Solution Map</title>
    <th:block th:include="fragments/headerinc :: head"></th:block>
    <style>
        .text-group { display: inline-block; padding: 0.5em; vertical-align:top; }
        #image_div, #file_div {margin-top: 8px;}
        .row {margin-left: 17%;}
        #listBtn, #editBtn {display:inline-block;}
        p {
            white-space: pre-wrap; /* CSS3*/
            white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
            white-space: -pre-wrap; /* Opera 4-6 */
            white-space: -o-pre-wrap; /* Opera 7 */
            word-wrap: break-all; /* Internet Explorer 5.5+ */
        }
    </style>
    <script>
        function list(){
            document.getElementById("detailForm").action = '/solutions';
            document.getElementById("detailForm").submit();
        }
        function search(id) {
            window.location.href = '/solution/edit/' + id;
        }
    </script>
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Solution Details</h2>
        <div>
                <div class="text-group">
                    <label class="col-sm-2 control-label">솔루션 명:</label>
                    <div id="sol_name" class="col-sm-10">
                        <p class="form-control-static" th:text="${solution.solutionName}">description</p>
                    </div>
                    <label class="col-sm-2 control-label">Solution Group #1:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${solution.solutionGroup1}">description</p>
                    </div>
                    <label class="col-sm-2 control-label">Solution Group #2:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${solution.solutionGroup2}">description</p>
                    </div>
                    <label class="col-sm-2 control-label">Equipment:</label>
                    <div class="col-sm-4">
                        <p class="form-control-static" th:text="${solution.equipment}">description</p>
                    </div>
                    <label class="col-sm-2 control-label">Component:</label>
                    <div class="col-sm-4">
                        <p class="form-control-static" th:text="${solution.component}">description</p>
                    </div>
                    <label class="col-sm-2 control-label">Customer Benefit:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${solution.customerBenefit1} + ' / ' + ${solution.customerBenefit2}">description</p>
                    </div>
                    <label class="col-sm-2 control-label">주요 기능:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${solution.function}">description </p>
                    </div>
                    <label class="col-sm-2 control-label">솔루션 설명:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${solution.description}">description </p>
                    </div>
                    <label class="col-sm-2 control-label">제작사:</label>
                    <div class="col-sm-4">
                        <p class="form-control-static" th:text="${solution.maker}">description</p>
                    </div>
                    <label class="col-sm-2 control-label">공급사:</label>
                    <div class="col-sm-4">
                        <p class="form-control-static" th:text="${solution.supplier}">description</p>
                    </div>
                    <label class="col-sm-2 control-label">Solution Type:</label>
                    <div class="col-sm-4">
                        <p class="form-control-static" th:text="${solution.solutionType}">description</p>
                    </div>
                    <label class="col-sm-2 control-label">Development Type:</label>
                    <div class="col-sm-4">
                        <p class="form-control-static" th:text="${solution.developmentType}">description</p>
                    </div>
                    <label class="col-sm-2 control-label">적용 사례:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${solution.reference}">description</p>
                    </div>
                    <label class="col-sm-2 control-label">출처:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${solution.source}">description</p>
                    </div>
                    <label class="col-sm-2 control-label">Image(s):</label>
                    <div id="image_div" class="col-sm-10">
                        <div th:if="${not #lists.isEmpty(images)}" th:each="fileId, iterator : ${images}">
                            <img th:src="@{'/files/' + ${fileId}}" width="600" height="auto"/>
                        </div>
                        <div th:unless="${not #lists.isEmpty(images)}">
                            <p>N/A</p>
                        </div>
                    </div>
                    <label class="col-sm-2 control-label">Attached File(s):</label>
                    <div id="file_div"  class="col-sm-10">
                        <div th:if="${not #lists.isEmpty(files)}" th:each="file, iterator : ${files}">
                            <a th:href="@{'/files/' + ${file.fileId}}" th:text="${file.fileName}"></a>
                        </div>
                        <div th:unless="${not #lists.isEmpty(files)}">
                            <p>N/A</p>
                        </div>
                    </div>

                </div>
            <form id="detailForm" method="post" th:object="${solution}" class="form-horizontal">
                <input type="hidden" name="viewType" th:value="${viewType}"/>
                <input type="hidden" name="searchCondition" th:value="${searchCondition}"/>
                <input type="hidden" name="searchInput" th:value="${searchInput}"/>
                <input type="hidden" id="solutionGroup" th:field="*{solutionGroup1}" />
                <input type="hidden" id="solutionGroup2" th:field="*{solutionGroup2}" />
            </form>
            <div class="row">
                <button id="listBtn" type="button" class="btn btn-default" th:onclick="'list()'">List</button>
                <button id="editBtn" type="button" class="btn btn-default" th:onclick="'search(' + ${solution.id} +')'">Edit</button>
            </div>
    </div>
</div>

</body>
</html>